@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #211e23;
  --color-primary: #571244;
  --color-secondary: #ef4353;
  --font-sans: var(--font-roboto);
  --font-display: var(--font-nunito);
}


